:root {
    --main-color:rgb(0, 128, 0);
    --secondary-color:rgb(255, 255, 255);
    --dark: rgb(0, 0, 0);
    --wrong: rgb(255, 0, 0);
}

body {
    background-color: var(--main-color);
    height:100vh;
    overflow:hidden;
}

#quizzContainer {
    background-color: var(--secondary-color);
    margin: 5vh 5vw 5vh 5vw;
    border-radius:100px;
}

h1 {
    color:var(--secondary-color);
    text-align:center;
    margin-bottom:5vh;
    margin-top: 5vh;
    font-size:60px;
}

#questionContainer {
    display:block;
    margin:5vh, 5vw, 5vh, 5vw;
    padding-top:5vh;
}

h2 {
    text-align:center;
    color:var(--main-color);
    font-size:40px;
    line-height:60px;
}

.buttons-container {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    height:50vh;
}

.answer-btn {
    color:var(--dark);
    background-color:var(--secondary-color);
    border:1px solid var(--dark);
    height:5vh;
    width:80%;
    text-align:center;
    line-height:5vh;
    border-radius:200px;
    cursor:pointer;
}

.answer-correct {
    color:var(--secondary-color);
    background-color:var(--main-color);
    border:none;
}

.answer-wrong {
    color:var(--secondary-color);
    background-color:var(--wrong);
    border:none;
}

#score {
    color:var(--secondary-color);
    font-size:35px;
    margin:auto;
    text-align:center;
}

.titleCorrect {
    color:var(--main-color);
    font-size:50px;    
}

.titleWrong {
    color:var(--wrong);
    font-size:50px;
}